html {
        scroll-behavior: smooth;
}
.container{ 
        padding-left: 0;
        padding-right: 0;
}
.grad{
        background-color: purple;
        background-image: linear-gradient(purple, black);
}
.underline:hover{
        text-decoration: underline;
        transform: scale(1.1);
}
.my_style:hover{
        box-shadow: 2px 6px 5px black;
        transform: scale(0.8);
}
.contact_form:hover{
        box-shadow: 2px 6px 5px black;
        transform: scale(1.1);        
}